<!-- Navbar -->
<nav class="navbar">
	<div class="container">
		<!-- Logo -->
		<h1 id="logo">
			<a href="/"
				><img src="../assets/logo.svg" alt="Your Logo"
			/></a>
		</h1>
		<!-- Navbar links -->
		<ul class="nav-menu">
			<li><a class="nav-link" href="/#projects">ПРОЕКТЫ</a></li>
			<li><a class="nav-link" href="/pages/contacts.html">КОНТАКТЫ</a></li>
			<li><a class="nav-link" href="/pages/blog.html">БЛОГ</a></li>
			<li>
				<a
					class="nav-link btn btn-primary"
					href="/assets/Albert_Hunter_CV_Resume.pdf"
					target="_blank" rel="noopener">
					РЕЗЮМЕ <i class="fas fa-arrow-right"></i>
				</a>
			</li>

			<!-- Toggle switch -->
			<div class="theme-switch">
				<input type="checkbox" id="switch" />
				<label class="toggle-icons" for="switch">
					<img class="moon" src="../assets/moon.svg"  alt="icon"/>
					<img class="sun" src="../assets/sun.svg"  alt="icon"/>
				</label>
			</div>
			<!-- Hamburger menu -->
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</div>
</nav>